.gitmodules
.git
.gradle
.idea
build
gradle
weidi_library.iml
*.iml
Artifact.iml
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/*
.DS_Store
/build/intermediates/res/*
/build
/captures
.externalNativeBuild
weidi_library
